<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore Restaurant" />
  <link rel="icon" href="./icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">  <link rel="manifest" href="./app.webmanifest" />
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Micheal's Restaurant</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju konten utama</a>
  <header>
    <div class="background-images">
      <nav class="nav-bar">
        <a href="#" class="nav-logo">Micheal's restaurant</a>
        <button class="drawer" href="#" tabindex="0">☰</button>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#/favorite" class="nav-link">Favorite</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/micheal-owen/" class="nav-link">About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>&copy 2022 Micheal Owen SIB X DICODING</footer>
</body>

</html>